
:host {
    overflow-x: hidden;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 230px;
}

.counter {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}