<ul>
 <div class="content" *ngIf = 'steps$ | async as steps'>
    <ui-info-step
        *ngFor = 'let step of steps; let idx = index'
        [step] = 'step'
        [index] = 'idx'
        [length] = 'steps.length'
    ></ui-info-step>
</div>
