<div class="main" #mainRef>
    <input #inputRef type="text" [ngModel] = 'inputValue | date:"d LLL y, H:mm":null:"ru"' readonly>
    <div class="pickers">
        <div class="picker-box datepicker">
            <button 
                class = 'button-icon'
                matTooltip = 'Выбрать дату'
                [class.open-icon] = 'dpStateManager.getShowState()'
                [disabled] = 'dpStateManager.disabled'
                (click) = 'show("datepicker")'
            >
                <i class="material-icons">date_range</i>
            </button>
            <ui-date-picker-list 
                *ngIf = 'dpStateManager.getShowState()'
                [type] = 'dpStateManager?.level.type'
                [date] = 'formControl?.value'
                [options] = 'dpStateManager.getList()'
                (level) = 'dpStateManager.setLevel($event)'
                (changeList) = 'dpStateManager.change($event)'
                (setValue) = 'changeDate($event)'
            ></ui-date-picker-list>
        </div>
        <div class="picker-box timepicker">
            <button 
                class = 'button-icon'
                matTooltip = 'Установить время'
                [disabled] = '!formControl?.value'
                (click) = 'show("timepicker")'
            >
                <i 
                    class="material-icons"
                    [class.open-icon] = 'timepickerManager.getShowState()'
                >query_builder</i>
            </button>
    
            <ui-timepicker
                *ngIf = 'timepickerManager.getShowState()'
                [time] = 'time'
                (change) = 'changeTime($event)'
            ></ui-timepicker>
        </div>
        <div class="picker-box timepicker">
            <button 
                class = 'button-icon'
                matTooltip = 'Скопировать в буфер'
                [disabled] = '!formControl?.value'
                (click) = 'copy(inputRef.value)'
            >
                <i class="material-icons">file_copy</i>
            </button>
        </div>
        <div class="picker-box reset">
            <button 
                class = 'button-icon'
                matTooltip = 'Сбросить дату'
                [disabled] = '!formControl?.value'
                (click) = 'cancel()'
            >
                <i class="material-icons">cancel</i>
            </button>
        </div>
    </div>
</div>
