@import 'styles.scss';

.main {
    width: 100%;
    display: flex;
    align-items: center;
    
    @include gradient-border(var(--shine), 2px);

    @media (max-width: 435px) {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1rem;
    }
    

    input {
        border: none;
        outline: none;
        flex-grow: 1;
        margin: 0;
        text-align: center;
        font-family: var(--raleway);
        font-weight: bolder;
        @include gradient-font(var(--skyline));

        @media (max-width: 435px) {
            order: 1;
            text-align: center;
        }
        
    }

    .pickers {
        display: flex;

        .picker-box {
            position: relative;
            margin: 0 .5rem;
    
            i {
                cursor: pointer;
                user-select: none;
                @include gradient-font(var(--august));
        
                &:hover {
                    @extend .active-icon;
                }
            }
    
            .datepicker {
                
            }
    
            .timepicker {
    
            }
        }
    
    }
}

.active-icon {
    @include gradient-font(var(--neuro));
}

.button-icon {
    @include btn-icon();
}

.open-icon {
    @include gradient-font(var(--burn) !important);
}