@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;

    .box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        padding: 1rem;
        transition: transform .3s linear, box-shadow .3s ease-in-out;

        &.active {
            box-shadow: 0px 0px 14px 0px rgba(155, 228, 158, 0.75);
            border-radius: 8px;
            transform: scale(1.02);
        }

        &__title {
            flex-grow: 1;
            font-weight: bold;
            @include gradient-font(var(--skyline));
        }

        &__input {

        }
    }
}