@keyframes left-translate {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes right-translate {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes picker-show {
    from {
        transform: translate(-55%, -50%);
    } to {
        transform: translate(-55%, -0%);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

