.left-show {
    animation: left-translate .3s linear;
}

.right-show {
    animation: right-translate .3s linear;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.toggle-icon {
    cursor: pointer;
    font-size: 2.5rem;
    @include gradient-font(var(--raspberry));
    border-radius: 50%;
    user-select: none;
    transition: box-shadow .2s linear, transform .2s ease-in;

    &:hover {
        transform: scale(1.1);
        @include gradient-font(var(--neuro));
    }

    &:active {
        transform: scale(0.8);
        @include gradient-font(var(--mango));
        @extend .box-shadow;
    }
}

.btn-icon {
    @include btn-icon();
}