@import 'animations.scss';

@mixin gradient-border($borderColor, $size: 3px) {
    // unquote()
    border: $size solid transparent;
    border-image: $borderColor;
    border-image-slice: 1;
}

@mixin text-shadow($color: #fff) {
    text-shadow: 4px 4px 2px $color;
}

@mixin item-theme($color) {
    width: 200px;
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid $color;
    font-family: var(--raleway);
    transition: background-color .3s linear;

    &:hover {
        background-color: $color;
    }

    &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom: 0px;
    }
}

@mixin list-theme($color, $shadow) {
    border: 1px solid $color;
    border-radius: 8px;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    user-select: none;
    background: transparent !important;
}

@mixin box-shadow {
    box-shadow: 0px 0px 14px 0px rgba(96, 50, 50, 0.75);
}

@mixin gradient-font($color) {
    background: $color;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

@mixin btn-icon (
    $color: var(--august), 
    $hoverColor: var(--neuro), 
    $disbledColor: var(--lithium)) {
        display: flex;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
        user-select: none;
        border: none;
        outline: none;
        @include gradient-font($color);
    
        i {
            height: 100%;
            width: 100%;
        }

        &:hover {
            @include gradient-font($hoverColor !important);
        }
    
        &:disabled {
            i {
                cursor: not-allowed !important;
                @include gradient-font($disbledColor !important);
            }
        }
}