.m-05 {
    margin: .5rem;
}

.m1 {
    margin: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ps-1 {
    padding: 0 1rem;
}

.m-0-a {
    margin: 0 auto;
}

.jc-center {
    justify-content: center;
}