$layer-card-colors: (#ef5350, #e040fb, #2196f3, #ffa000, #26a69a);
$lush: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
$frost: linear-gradient(to right, rgb(0, 4, 40), rgb(0, 78, 146));
$deep-sea: linear-gradient(to right, rgb(44, 62, 80), rgb(76, 161, 175));
$graipfruit: linear-gradient(to right, rgb(233, 100, 67), rgb(144, 78, 149));
