<div class="step" [ngStyle] = 'getStepPositionStyle()'>
    <div class="step-triangle step-triangle_left" [ngStyle] = "getTriangleColor('left')"></div>
    <div class="step-row step-row_left" [ngStyle] = 'getRowColor()'></div>
    <div class="step-circle" [ngStyle] = 'getCircleColor()' (click) = 'setTextState()'>
        <p class="step-circle-value"> {{ step.value }} </p>
    </div>
    <div class="step-row step-row_right" [ngStyle] = 'getRowColor()'></div>
    <div class="step-triangle step-triangle_right" [ngStyle] = 'getTriangleColor("right")'></div>
    <p class="step-text" *ngIf = 'isShowText' @width>
        {{ step.text }}
    </p>
</div>