@import 'styles.scss';

.step {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-triangle {
        position: relative;
        z-index: 1;
        height: 0;
        width: 0;

        &_left {
            border-left: 12px solid transparent;
            border-top: 12px solid;
            border-bottom: 13px solid;
            transform: translateX(2px);
        }

        &_right {
            border-left: 12px solid;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            transform: translateX(-2px);
        }
    }


    &-row {
        height: 25px;
        width: 45px;

        &_left{
            transform: translateX(2px);
        }

        &_right {
            transform: translateX(-2px);
        }
    }



    &-circle {
        position: relative;
        display: flex;
        cursor: pointer;
        z-index: 1;
        height: 70px;
        width: 70px;
        border-radius: 50%;

        &-value {
            font-family: var(--bitter);
            margin: auto;
            color: #fff;
            @include text-shadow(#000);
        }
    }

    &-text {
        overflow: hidden;
        max-width: 200px;
        padding: 1rem;
        background: aliceblue;
        text-align: center;
        line-height: 1.5rem;
        border-radius: 4px;
        margin: 0 20px 0 10px;
        font-family: var(--lacquer);
        @include box-shadow();
    }
}