@import 'styles.scss';

.main {
    width: 100%;

    .value {
       padding: 1rem 0;
       text-align: center;
       font-family: var(--krona);
       text-shadow: 1px 1px 4px darkgreen;
       user-select: none;
    }

    .range-box{
        position: relative;
        padding: 20px 0;
        width: 100%;
    
        .slider {
            position: absolute;
            z-index: 1;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
            box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);   
    
            &:active {
                background: radial-gradient(circle at center, white, rgb(60, 141, 60));
            }
        }
    
        .progress {
            height: 3px;
            border-radius: 3px;
        }
    }
}
