<div class="main">
    <p class="value"> {{ getValue(progressRef) }} % </p>
    <div 
        class="range-box"
        (mousemove) = 'changeRange($event)'
        (mouseup) = 'setActiveState(false)'
        (mousedown) = 'setOffset($event)'
    >
        <div 
            #slideRef
            class="slider"
            [style.left] = 'offset + "px"'
            (mousedown) = 'setActiveState(true, $event)'
            (dragstart) = 'preventDrag($event)'
            (dragenter) = 'preventDrag($event)'
            (dragover) = 'preventDrag($event)'
            (dragleave) = 'preventDrag($event)'
            (drag) = 'preventDrag($event)'
            (drop) = 'preventDrag($event)'
            (dragend) = 'preventDrag($event)'
        ></div>
        <div 
            #progressRef
            class="progress"
            [ngStyle] = 'getProgressStyle()'
        ></div>
    </div>
</div>
