<div class="main">
    <div class="box" 
        *ngFor = 'let opt of options' 
        [class.active] = 'opt.value === value'
    >
        <ui-form-img-input
            class="box__input"
            [option] = 'opt'
            [isActive] = 'opt.value === value'
            [disabled] = 'disabled'
            (setValue) = 'setValue($event)'
        ></ui-form-img-input>
    </div>
</div>

