@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;

    .box {
        width: calc(50% - 1rem);
        margin: .5rem;
        transition: transform .3s linear, box-shadow .3s ease-in-out;

        &.active {
            transform: scale(1.02);
        }

        &__input {
            // width: 100%;
        }
    }
}