.box {
    position: fixed;
    right: 3rem;
    bottom: 2.5rem;
    display: flex;
    align-items: center;

    .radius {
        border-radius: 50%;
        position: relative;

        &_phone {
            display: flex;
            z-index: 3;
            cursor: pointer;
            height: 50px;
            width: 50px;
            background: rgb(148, 89, 245);
            transition: transform .5s linear, background .3s ease-in ;

            i {
                margin: auto;
                color: #fff;
            }

            &:hover {
                background: darken(rgb(148, 89, 245), 40%);
                transform: rotate(45deg);
            }
        }

        &_one {
            height: 70px;
            width: 70px;
            background: rgba(235, 235, 97, .8);
            z-index: 2;
            left: 140px;
            animation: radius1 1.5s linear infinite;
        }

        &_two {
            height: 80px;
            width: 80px;
            z-index: 1;
            left: 65px;
            background: rgba(118, 235, 97, 0.8);
            animation: radius2 1.8s linear infinite;
        }
    }
}



@keyframes radius1 {
    from {
        opacity: .8;
        transform: scale(1);
    } to {
        transform: scale(1.8);
        opacity: .2;
    }
}

@keyframes radius2{
    from {
        opacity: .9;
        transform: scale(.8);
    } to {
        transform: scale(2.2);
        opacity: .1;
    }
}

