<div class="box">
    <div class="radius radius_one"></div>
    <div class="radius radius_two"></div>
    <div class="radius radius_phone">
        <i class="material-icons">phone</i>
    </div>
</div>


