@import 'styles.scss';

:host {
    display: flex;
    width: 100%;
    @extend .box-shadow;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 0 1rem;
    min-width: 280px;
    overflow-x: hidden;
}


.main {
    width: 100%;
    margin: 0 1rem;

    .levels {

        .level {
            animation: fade .7s linear;
        }
    }
}