<div class="main" *ngIf = 'level$ | async as level'>
    <div class="levels" *ngIf = '!isShowLoader();else preloaderTpl' [ngSwitch] = 'level'>
        <ui-questionnaire-start
            *ngSwitchCase = '"start"'
            [@ANVoidTranslate] = "'top'"
            class="level"
            (start) = 'start()'
        ></ui-questionnaire-start>
        <div 
            *ngSwitchCase = '"form"'
            [@ANVoidTranslate] = "'top'"
            class="level"
        >
            <ui-questionnaire-form
                [questions] = 'questions$ | async'
                [question] = 'question$ | async'
                [position] = 'getQuestionPosition()'
                [side] = 'state.showFormControlSide'
                [isSetStatus] = 'flags.isSetQuestion'
                [formValue] = 'formValue$ | async'
                (changeQuestion) = 'changeQuestion($event)'
                (submit) = 'submit($event)'
            ></ui-questionnaire-form>
        </div>
        <ui-questionnaire-result
            *ngSwitchCase = '"result"'
            class="level"
            [@ANVoidTranslate] = "'top'"
            [state] = 'state.resultState'
            [results] = 'results$ | async'
            (calculate) = 'calculate()'
            (return) = 'changeLevel($event)'
            (restart) = 'restart()'
        ></ui-questionnaire-result>
    </div>
    
    <ng-template #preloaderTpl>
        <ui-preloader [@ANVoidTranslate] = "'top'"></ui-preloader>
    </ng-template>
</div>

