@import 'styles.scss';


.clip {
    height: 200px;
    width: 250px;
    clip-path: polygon(20% 50%, 42% 40%, 39% 30%, 52% 31%, 60% 10%, 72% 31%, 84% 30%, 82% 40%, 100% 50%, 78% 58%, 82% 70%, 72% 70%, 60% 90%, 52% 70%, 41% 70%, 43% 58%, 20% 50%);
    background: var(--shine);
    animation: clip-anim 6s linear infinite;
}


@keyframes clip-anim {

    0% {
        clip-path: polygon(20% 50%, 42% 40%, 39% 30%, 52% 31%, 60% 10%, 72% 31%, 84% 30%, 82% 40%, 100% 50%, 78% 58%, 82% 71%, 71% 69%, 60% 90%, 52% 68%, 41% 70%, 44% 58%, 20% 50%);
        background: var(--shine);
    }

    25% {
        clip-path: polygon(30% 40%, 60% 20%, 70% 20%, 70% 10%, 80% 10%, 80% 30%, 90% 40%, 90% 80%, 100% 80%, 100% 90%, 20% 90%, 20% 80%, 30% 80%, 30% 40%);
        background: var(--coper);
    }

    50% {
        clip-path: polygon(30% 20%, 80% 10%, 100% 50%, 90% 70%, 60% 70%, 50% 80%, 40% 70%, 20% 70%, 30% 50%, 0% 40%, 30% 30%, 30% 20%, 40% 20%);
        background: var(--windy);
    }

    75% {
        clip-path: polygon(20% 40%, 40% 30%, 50% 10%, 60% 30%, 80% 40%, 60% 50%, 50% 70%, 40% 50%, 20% 40%);
        background: var(--mango);
    }

    100% {
        clip-path: polygon(20% 50%, 42% 40%, 39% 30%, 52% 31%, 60% 10%, 72% 31%, 84% 30%, 82% 40%, 100% 50%, 78% 58%, 82% 71%, 71% 69%, 60% 90%, 52% 68%, 41% 70%, 44% 58%, 20% 50%);
        background: var(--shine);
    }
}



