@import 'styles.scss';

.main {
    
    .content {
        display: flex;
        flex-direction: column;

        .header {
            flex-grow: 1;
            text-align: center;
            padding: 1.5rem 0;
            font-size: 1.5rem;
            font-family: var(--raleway);
            border-radius: 20px;
            box-shadow: 0px 0px 14px 0px rgba(159, 218, 233, 0.75);
            @include gradient-font(var(--august));
        }
    
        .form {
            width: 100%;
            display: flex;
            padding-top: 2rem;
            flex-direction: column;
    
            &__controls {
                flex-grow: 1;
    
                &-item {
                    width: 100%;
                    flex-grow: 1;
                }
            }
    
            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;
                flex-grow: 1;
    
                .prev, .next, .result {
                    padding: 0 1rem;
                    transition: background-color .3s linear;
                }
    
                .prev {
                    margin-right: 1.5rem;
                    background: #42a5f5;
    
                    &:hover {
                        background: #1565c0;
                    }
                }
    
                .next {
                    background: #26a69a;
                    
                    &:hover {
                        background: #00695c;
                    }
                }

                .result {
                    background: #c0ca33;

                    &:hover {
                        background: #9e9d24;
                    }
                }
            }
        }
    }
}
