<div class="main" *ngIf = 'form && question'>
    <div class="content">
        <h3 class = 'header'> {{ question.title | suffix:'?' }} </h3>
        <form class="form" 
            [formGroup] = 'form' 
            [ngSwitch] = 'question?.type'
            (ngSubmit) = 'submit()'
        >
            <div class="form__controls" *ngIf = '!isSetStatus'>
                <ui-form-radio
                    *ngSwitchCase = '"radio"'
                    class="form__controls-item"
                    [formControlName] = 'question.formControlName'
                    [@ANVoidTranslate] = 'side'
                    [options] = 'question.options'
                ></ui-form-radio>
                <ui-form-thumbler
                    *ngSwitchCase = '"thumbler"'
                    class="form__controls-item"
                    [formControlName] = 'question.formControlName'
                    [@ANVoidTranslate] = 'side'
                    [options] = 'question.options'
                ></ui-form-thumbler>
                <ui-form-img
                    *ngSwitchCase = '"img"'
                    class="form__controls-item"
                    [formControlName] = 'question.formControlName'
                    [@ANVoidTranslate] = 'side'
                    [options] = 'question.options'
                ></ui-form-img>
            </div>
    
            <div class="actions">
                <button 
                    class="btn waves-effect waves-light prev" 
                    type="button"
                    [disabled] = 'position === "first"'
                    (click) = 'changeQuestion("prev")'
                >
                    Previous
                    <i class="material-icons left">navigate_before</i>
                </button>
                <ng-container *ngIf = 'position !== "last";then nextTpl;else resultTpl'></ng-container>

            </div>
        </form>
    </div>
</div>

<ng-template #nextTpl>
    <button 
        class="btn waves-effect waves-light next" 
        type="button"
        [disabled] = 'position === "last"'
        (click) = 'changeQuestion("next")'
    >
        Next
        <i class="material-icons right">navigate_next</i>
    </button>
</ng-template>

<!-- home -->

<ng-template #resultTpl>
    <button 
        class="btn waves-effect waves-light result" 
        type="button"
        (click) = 'submit()'
    >
        Results
        <i class="material-icons right">all_out</i>
    </button>
</ng-template>

