.main  {
    display: flex;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 1rem;
    top: 2rem;
    border-radius: 50%;
    cursor: pointer;
    background: radial-gradient(circle at 65% 15%, aqua, darkblue);
    transition: box-shadow .2s linear, transform .2s ease-in;

    &:hover {
        box-shadow: 1px 1px 30px 0px rgba(129, 154, 255, 1);
        transform: scale(1.1);
    }

    i {
        margin: auto;
        color: #fff;
        
    }
}