<div class="main"
    [class.active] = 'isActive'
    [class.disabled] = 'disabled'
    (click) = 'setValue()'
>
    <div class="circle">
        <i 
            *ngIf = 'isActive' 
            class="material-icons circle-icon"
        >done_outline</i>
    </div>
    <img class="img" [src]="option.src" alt="img">
</div>
