:host {
    width: 100%;
}

.main {
    width: 100%;
    position: relative;
    cursor: pointer;

    &.disabled {
        opacity: .5;
        cursor: not-allowed;
    }
    
    &.active {
        box-shadow: 0px 0px 14px 0px rgba(155, 228, 158, 0.75);
        border-radius: 8px;
    }

    &.active > .circle  {
        border-color: rgba(233, 30, 99, .5);
        background: #e91e63;
    }

    &.active > .circle .circle-icon {
        
    }

    .img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .circle {
        display: flex;
        position: absolute;
        top: 10px;
        right: 0;
        margin-right: 10px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 3px solid #bdbdbd;
        transition: background-color .3s linear, border-color .3s linear;

        &-icon {
            margin: auto;
            color: #fff;
        }
    }
}
