<div class="main">
    <div class="box" 
        *ngFor = 'let opt of options' 
        [class.active] = 'isActive(opt)'
    >
        <p class="box__title">{{ opt.title }}</p>
        <ui-form-thumler-input
            class="box__input"
            [option] = 'opt'
            [isActive] = 'isActive(opt)'
            [disabled] = 'disabled'
            (setValue) = 'setValue($event)'
        ></ui-form-thumler-input>
    </div>
</div>
