.main {
    display: flex;
    cursor: pointer;
    width: 60px;
    height: 20px;
    border-radius: 15px;
    background: rgba(189, 189, 189, .7);
    transition: background-color .3s linear;

    &.active {
        background: rgba(233, 30, 99, .7);
    }

    &.disabled {
        background: rgba(189, 189, 189, .7);
        cursor: not-allowed;
    }

    &.active > .circle {
        background: #e91e63;
        margin-left: calc(100% - 20px);
    }

    &.disabled > .circle {
        background: rgb(189, 189, 189);
    }

    .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        transform: scale(1.5);
        background: rgb(189, 189, 189);
        transition: background-color .3s linear, margin .3s ease-in-out;
    }
}