.main {
    position: relative;
    box-sizing: content-box;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #bdbdbd;
    transition: border-color .3s ease-in, transform .3s linear;
    cursor: pointer;

    &.active {
        border-color: #e91e63;
    }

    &.disabled {
        border-color: #bdbdbd;
        cursor: not-allowed;
    }

    &.active > .circle {
        transform: scale(1.5);
    }

    &.disabled > .circle {
        background-color: #bdbdbd;
    }

    .circle {
        margin: auto;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        transform: scale(0);
        background: #e91e63;
        transition: transform .4s linear;
    }
}
