@import 'styles.scss';

.title {
    font-size: 1.5rem;
    font-family: var(--krona);
}

.list {

    .item {
        width: 100%;
        text-align: center;
        background: transparent !important;
    }
}

.completed {
    text-decoration: line-through;
}

// .cdk-drag-placeholder {
//     background:red;
// }

.list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.empty {
    font-family: var(--lacquer);
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
}