<ng-container *ngIf = 'tasks$ | async as tasks'>
    <h3 class="title" [ngClass] = 'getTitleTheme()'>{{ title }}</h3>
    <hr>
    <ul 
        class="list" 
        cdkDropList
        #todoList='cdkDropList'
        [cdkDropListData] = 'tasks'
        [cdkDropListConnectedTo] = 'connectedList'
        [ngClass] = 'getListTheme()'
        (cdkDropListDropped) = 'drop($event)' 
        >
        <li *ngFor = 'let task of tasks' class="item" 
            cdkDrag
            [ngClass] = 'getItemTheme()' 
            [class.completed] = 'type === "completed"'
        > {{ task }} </li>
        <li *ngIf = '!tasks.length' class="item empty" [ngClass] = 'getItemTheme()'> Empty list </li>
    </ul>
</ng-container>

