@import 'styles.scss';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .languages {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 1rem 0;
            
            &__select {

            }

            &__replace {
                margin: 0 2rem;

                &-btn {
                    border: none;
                    padding: 0;
                    margin: 0;
                    font-size: 2.3rem;
                    color: dodgerblue;
                    background: transparent;
                    cursor: pointer;
                    transition: transform .3s linear;

                    &:hover:not(:disabled) {
                        color: rgb(211, 189, 67);
                        transform: scale(1.1);
                    }

                    &:disabled {
                        cursor: default;
                        color: gray;
                    }
                }
            }
        }

        .textfields {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            margin: 0 -1rem;
            min-width: 250px;

            &-box {
                width: calc(50% - 2rem);
                border-radius: 8px;
                transition: background-color .3s linear;

                &:nth-child(1) {
                    border: 1px solid rgb(53, 145, 151);
                    background-color:rgba(165, 244, 250, 0.4);
                    margin-right: 2rem;
                }

                &:nth-child(2) {
                    margin-left: 2rem;
                    border: 1px solid rgb(202, 202, 75);
                    background-color:rgba(240, 240, 70, 0.3);
                }

                &-item {
                    width: 100%;
                    padding-bottom: 1rem;

                    &-start-hint {
                        display: flex;

                        .return-btn {
                            margin-left: 1rem;
                        }
                    }

                    .hint {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

// ::ng-deep .mat-form-field-wrapper {
//     width: 100%;
// }

.focus-from-lang {
    border: 1px solid rgb(60, 190, 60) !important;
    background: rgba(60, 190, 60, .4) !important;
}
