<div class="main" *ngIf = 'languages$ | async as languages'>
    <form [formGroup] = 'form' class="form">
        <div class="languages">
          <mat-form-field class="languages__select">
              <mat-label>Выбрать язык</mat-label>
              <mat-select 
                formControlName = 'fromLang' 
                [errorStateMatcher] = 'stateMatcher'
                (ngModelChange) = 'translate()'
              >
                <mat-option 
                  *ngFor="let lang of languages" 
                  [value]="lang.value"
                  [disabled] = 'form.get("toLang").value === lang.value'
                >
                  {{lang.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="languages__replace">
              <button 
                class="languages__replace-btn" 
                [disabled] = 'getDisabledReplaceBtn()'
                (click) = 'replace()'
              >
                <i 
                  *ngIf = '!flags.isTranslateRequest;else preloaderTpl'
                  class="material-icons languages__replace-btn-icon"
                >compare_arrows</i>
              </button>

            </div>
            <mat-form-field class="languages__select">
                <mat-label>Выбрать язык</mat-label>
                <mat-select 
                  formControlName = 'toLang'
                  [errorStateMatcher] = 'stateMatcher'
                  (ngModelChange) = 'translate()'
                >
                  <mat-option 
                    *ngFor="let lang of languages" 
                    [value]="lang.value"
                    [disabled] = "form.get('fromLang').value === lang.value"
                  >
                    {{lang.title}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="textfields">
          <div class="textfields-box"
            [class.focus-from-lang] = 'getTextFocusStatus()'
          >
            <mat-form-field appearance="fill" class="textfields-box-item">
              <mat-label>Введите текст</mat-label>
              <textarea 
                matInput 
                #fromLangRef
                cdkTextareaAutosize
                [cdkAutosizeMinRows] = '5'
                [errorStateMatcher] = 'stateMatcher'
                formControlName = 'text' 
                (ngModelChange) = 'translate()'
                maxlength="500"
                ></textarea>
                <mat-hint align = 'start'>
                  <div class="textfields-box-item-start-hint">
                    <button 
                      class="btn-icon"
                      matTooltip = 'Сбросить все значения'
                      (click) = 'reset()'
                      [disabled] = 'getDisabledResetBtn()'
                    >
                      <i class="material-icons">cancel</i>
                    </button>
                    <button
                      *ngIf = 'previousValue' 
                      @translate
                      class="btn-icon return-btn"
                      matTooltip = 'Вернуть значения'
                      (click) = 'returnPreviousValue()'
                      [disabled] = '!previousValue'
                    >
                      <i class="material-icons">keyboard_return</i>
                    </button>
                  </div>
                  
                </mat-hint>
                <mat-hint align = "end">
                  <span class="hint">
                    {{ form.get("text").value?.length || 0 }} / 500
                  </span>
                </mat-hint>
            </mat-form-field>
          </div>

          <div class="textfields-box">
            <mat-form-field appearance="fill" class="textfields-box-item">
              <mat-label>Перевод</mat-label>
              <textarea 
                matInput 
                cdkTextareaAutosize
                [cdkAutosizeMinRows] = '5'
                readonly 
                formControlName = 'translate' 
              ></textarea>
              <mat-hint align= 'start'>
                <button 
                  class="btn-icon"
                  matTooltip = 'Скопировать перевод'
                  (click) = 'copy()'
                  [disabled] = '!form.get("translate").value'
                >
                  <i class="material-icons">file_copy</i>
                </button>
              </mat-hint>
              <mat-hint align = "end">
                <span class="hint">
                  {{ form.get("translate").value?.length || '0' }} 
                </span>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
    </form>
</div>

<ng-template #preloaderTpl>
  <mat-spinner
    [strokeWidth] = '3'
    [diameter] = '30'
  ></mat-spinner>
</ng-template>
