.container {
    display: flex;
    flex-direction: column;
     
    input {
        outline: none;
    }

    .color.text {
        color: lightseagreen;
    }

    .text {
        background: #fff;
        border: 1px solid lightgreen;
        border-radius: 4px;
        line-height: 1.5rem;
        padding-left: .5rem;
    }

    .range {
        -webkit-appearance: none;
        height: 2px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            background: lightgreen;
            transform: translateY(-25%);
        }

        &::-webkit-slider-runnable-track {
            // -webkit-appearance: none;
            // height: 10px;
            // width: 50px;
            // background: #000;: #000;
        }
    }


}
