<div class="container">
    <input type="text" class="text color" [value] = 'getValue()' readonly />
    <input 
        type="range" 
        class="range"
        [ngStyle] = 'getProgressStyle()'
        [(ngModel)] = 'rangeValue' 
        [min] = 'min' 
        [max] = 'max' 
        [step] = 'step' />
</div>
