@import 'styles.scss';

.loader {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
}

.color-setter {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.drop-list {
    margin: 0 -15px;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.editable {
    width: 100%;
    padding: 1rem;
    border: 1px solid;
}

.project-title {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    font-family: var(--trade);
    background: var(--windy);
    clip-path: polygon(0% 20%, 20% 20%, 30% 10%, 70% 10%, 80% 20%, 100% 20%, 100% 80%, 80% 80%, 70% 90%, 30% 90%, 20% 80%, 0% 80%, 0% 20%);
    @include text-shadow(orangered);
}


.box-title {
    letter-spacing: 2px;
    font-family: var(--bitter);
    font-size: 2em;
    display: inline-block;
    padding: 0.3em 0.6em ;
    margin-bottom: 2.5rem;
    @include gradient-font(var(--august));
    @include gradient-border(var(--august));
}

.percent {
    width: 100%;
}

.drug {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;

    .drop-list {
        margin: 0 1rem;
        width: calc(100% / 12 * 4 - 2rem) !important;
    }
}

.trigger {
    width: 100%;
    max-width: 1000px;
}

.range {
    width: 100%;
    max-width: 500px;
}

.layer {
    width: 100%;
    max-width: 600px;
}

.multiple-checkbox {
    width: 100%;
    max-width: 400px;
}

.picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datepicker {
    text-align: center;
}

.questionnaire {
    width: 100%;
    max-width: 600px;
}

.translate {
    width: 100%;
    max-width: 1200px;
}
