<div class="content" @fade uiTheme #themeRef = 'themeRef' *ngIf = 'isShowContent;else circleTpl'>
  
  <ui-progress-page-row></ui-progress-page-row>
  <a 
    class="btn-floating btn-large waves-effect waves-light cyan lighten-1 color-setter" 
    (click) = 'themeRef.setColor()'
    matTooltip = 'Изменить тему'
    matTooltipPosition = 'after'
  >
    <i class="material-icons">format_paint</i>
  </a>
  <ui-scroll-arrow></ui-scroll-arrow>

  <ui-phone></ui-phone>

  <header class="header">
    <h1 class="project-title">Custom elements</h1>
  </header>
 
  <div class="box flex column items-center">
    <h2 class="box-title">Drag&Drop {{ counter }} </h2>
    <div class="box-content flex flex-center drug">
      <ui-drop-list 
        class="drop-list"
        type = 'todo'
        theme = 'sea'
        title = ' To Do'
      ></ui-drop-list>
      <ui-drop-list 
        class="drop-list"
        type = 'active'
        theme = 'blue'
        title = 'In work'
      ></ui-drop-list>
      <ui-drop-list 
        class="drop-list"
        type = 'completed'
        theme = 'coral'
        title = 'Completed'
      ></ui-drop-list>
    </div>
  </div>
  
  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Info Stepper</h2>
    <div class="box-content">
      <ui-info-stepper></ui-info-stepper>
    </div>
  </div>
  
  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Percent Popup</h2>
    <div class="box-content percent">
      <ui-percent-popup></ui-percent-popup>
    </div>
  </div>
  
  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Clip Path</h2>
    <div class="box-content">
      <ui-clip-path></ui-clip-path>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Progress trigger</h2>
    <div class="box-content trigger">
      <ui-progress-trigger></ui-progress-trigger>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Range</h2>
    <div class="box-content range">
      <ui-range></ui-range>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Connected Arrows</h2>
    <div class="box-content connected">
      <ui-connected-arrows></ui-connected-arrows>
    </div>
  </div>
  
  <ui-row></ui-row>
  
  <div class="box flex column items-center">
    <h2 class="box-title">Layer Card</h2>
    <div class="box-content layer">
      <ui-layer-card></ui-layer-card>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Multiple Checkbox</h2>
    <div class="box-content multiple-checkbox">
      <ui-checkbox-filter></ui-checkbox-filter>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Date Picker FormControl</h2>
    <div class="box-content row datepicker">
      <button class="btn waves-effect waves-light ps-1 mb-1" (click) = 'showDates()'>
        Show values in the console
        <i class="material-icons right">visibility</i>
      </button>
      <div class="row picker">
        <p class="btn disabled col s2">From</p>
        <ui-date-picker 
          class="col m-05" 
          [formControl] = 'datepickerFrom'
          [maxDate] = 'datepickerTo.value || null'
        ></ui-date-picker>
      </div>
      <div class="row picker">
        <p class="btn disabled col s2">To</p>
      
        <ui-date-picker 
          class="col m-05"  
          [formControl] = 'datepickerTo'
          [minDate] = 'datepickerFrom.value || null'
        ></ui-date-picker>
      </div>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Questionnaire</h2>
    <div class="box-content questionnaire">
      <ui-questionnaire></ui-questionnaire>
    </div>
  </div>

  <ui-row></ui-row>

  <div class="box flex column items-center">
    <h2 class="box-title">Translate</h2>
    <div class="box-content translate">
      <ui-translate></ui-translate>
    </div>
  </div>

  <ui-row></ui-row>

</div>

<ng-template #circleTpl>
  <div class="loader">
      <ui-circle
        @fade
        (action) = 'showContent()'
      ></ui-circle>
  </div>
</ng-template>

