<div class="progress-row" (mousemove) = 'setValue($event)'>
    <p class="text">Hover to me</p>
    <div class="popup" [style.marginLeft] = 'offset + "%"'>
        <p class="value"> {{ offset }} % </p>
    </div>
</div>