@import 'styles.scss';

.progress-row {
    display: flex;
    width: 80%;
    margin: 0 auto;
    min-width: 300px;
    position: relative;
    cursor: pointer;
    height: 40px;
    background: var(--mango);

    .text {
        margin: auto;
        color: #fff;
        font-family: var(--krona);
        @include text-shadow(darksalmon);
    }

    .popup {
        position: absolute;
        padding: .5rem;
        width: 55px;
        height: 40px;
        left: 0;
        top: 0;
        display: flex;
        border-radius: 7px;
        background: #fff;
        transform: translate(-50%, calc(-100% - 15px));
        transition: margin .1s linear;
        @include box-shadow();

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 0;
            width: 0;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-top: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .value {
            font-size: .8rem;
            margin: auto;
            white-space: nowrap;
            font-family: var(--krona);
        }
    }
}
