@import 'styles.scss';

:host {
    position: absolute;
    left: 0;
    bottom: calc(100% + 2rem);
    transform: translateX(calc(-50% + 1rem));
    min-width: 280px;
    background: var(--clouds);
    border-radius: 8px;
    animation: picker-show .3s linear;
    z-index: 1;
    @extend .box-shadow;
}

.timepicker {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    &__header {
        display: flex;
        align-self: center;
        padding-bottom: 1rem;
        @include gradient-font(var(--august));

        &-text {
            
        }

        .clock-icon {
            margin-left: .7rem;
        }
    }

    &__inputs {
        display: flex;
        align-items: center;
        align-self: center;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .item-title {
                padding-bottom: .5rem;
            }

            .input-box {
                display: flex;
                align-items: center;
                padding: 0 .2rem;
                border: 1px solid #e5e5e5;
                border-radius: 8px;

                input {
                    border: none;
                    flex-grow: 1;
                    outline: none;  
                    text-align: center;
                }

                .toggle-arrows {
                    display: flex;
                    flex-direction: column;

                    i {
                        font-size: 1.5rem;
                    }
                    
                    &:first-child {

                    }

                    &:last-child {

                    }
                }
            }


        }

        &-separate {
            font-weight: bold;
            transform: translateY(1rem);
            font-size: 1.5rem;
            padding: 0 1rem;
            @include gradient-font(var(--burn))
        }
    }
}