<div class="timepicker">
    <div class="timepicker__header">
        <span class="timepicker__header-text">
            Изменить время
        </span>
        <i 
            class="material-icons clock-icon"
        >hourglass_empty</i>
    </div>
    <div class="timepicker__inputs">
        <div class="timepicker__inputs-item">
            <span class="item-title">Часы</span>
            <div class="input-box">
                <input 
                    type="number" 
                    readonly 
                    min = '0' 
                    max = '23' 
                    [ngModel] = 'time[0]' 
                    (scroll) = 'wheel($event)'
                    (mousewheel) = 'wheel($event, "hours")'
                >
                <div class="toggle-arrows">
                    <i class="material-icons toggle-icon" (click) = 'change("hours", "inc")'>keyboard_arrow_up</i>
                    <i class="material-icons toggle-icon" (click) = 'change("hours", "dec")'>keyboard_arrow_down</i>
                </div>
            </div>
            
        </div>
        <span class="timepicker__inputs-separate">:</span>
        <div class="timepicker__inputs-item">
            <span class="item-title">Минуты</span>
            <div class="input-box">
                <input 
                    type="number" 
                    readonly 
                    min="0" 
                    max="59" 
                    [ngModel] = 'time[1]' 
                    (mousewheel) = 'wheel($event, "minutes")'
                >
                <div class="toggle-arrows">
                    <i class="material-icons toggle-icon" (click) = 'change("minutes", "inc")'>keyboard_arrow_up</i>
                    <i class="material-icons toggle-icon" (click) = 'change("minutes", "dec")'>keyboard_arrow_down</i>
                </div>
            </div>
        </div>
    </div>
</div>
