<div class="main">
  <div class="content" [ngSwitch]="state">
    <div class="content-state default" *ngSwitchCase="'default'">
      <ng-container *ngTemplateOutlet="defaultTpl"></ng-container>
    </div>
    <div class="content-state calculate" *ngSwitchCase="'calculate'">
      <ng-container *ngTemplateOutlet="doingRsltTpl"></ng-container>
    </div>
    <div class="content-state complete" *ngSwitchCase="'complete'">
      <ng-container *ngTemplateOutlet="completeTpl"></ng-container>
    </div>
  </div>
  <div class="actions">
    <ng-container *ngIf="state === 'default'">
      <button
        class="btn waves-effect waves-light back"
        @fade
        type="button"
        (click)="return()"
      >
        Return back
        <i class="material-icons left">all_out</i>
      </button>
      <button
        class="btn waves-effect waves-light result"
        @fade
        type="button"
        (click)="calculate()"
      >
        Results
        <i class="material-icons right">check_circle_outline</i>
      </button>
    </ng-container>
    <button
      class="btn waves-effect waves-light restart"
      @fade
      type="button"
      [disabled]="state === 'calculate' && !results"
      [class.m-0-a]="state !== 'default'"
      (click)="restart()"
    >
      Restart
      <i class="material-icons right">settings_backup_restore</i>
    </button>
  </div>
</div>

<ng-template #defaultTpl>
  <h3 class="default-header">
    <span class="default-header-text">Find out the test results ?</span>
    <i
      class="material-icons default-header-icon"
      matTooltip="Press Result button"
      >help_outline</i
    >
  </h3>
</ng-template>

<ng-template #doingRsltTpl>
  <ui-preloader @fade></ui-preloader>
</ng-template>

<ng-template #completeTpl>
  <ng-container *ngIf="results; else preloaderTpl">
    <div
      class="complete-container"
      *ngFor="let item of getResultParts() | keyvalue"
      [@ANVoidTranslate]="item.key === 'failed' ? 'left' : 'right'"
      [ngClass]="getListClass(item.key, item.value)"
    >
      <h4 class="complete-container-title">
        {{ item.key | titlecase | suffix: " answers" }}
      </h4>
      <ul class="complete-container-list">
        <li
          *ngFor="let option of item.value"
          class="complete-container-list-item"
        >
          {{ option.title }}
        </li>
      </ul>
    </div>

    <div class="efficiency">
      <h5 class="efficiency-title">Your efficiency:</h5>
      <h4 class="efficiency-value" [ngClass]="getEfficiencyClass()">
        {{ results.efficiency }}
      </h4>
    </div>
  </ng-container>
</ng-template>

<ng-template #preloaderTpl>
  <ui-preloader [@ANVoidTranslate]="'top'"></ui-preloader>
</ng-template>
