@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;

    .content {
        width: 100%;
        
        .content-state {
            padding: 4rem 0;

            &.default {

                .default-header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    &-text {
                        font-size: 2rem;
                        @include gradient-font($lush);
                    }
    
                    &-icon {
                        cursor: pointer;
                        margin-left: 1rem;
                        @include gradient-font($graipfruit);
                    }
                }
            }
            
            &.calculate {
                display: flex;
                justify-content: center;
            }

            &.complete {

                display: flex;
                flex-direction: column;
                
                .complete-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    border-radius: 8px;
                    padding: 1.5rem;

                    h4 {
                        padding-bottom: 1rem;
                    }

                    ul {
                        width: 100%;

                        li {
                            padding: .5rem 0;
                        }
                    }

                    &.failed {
                        margin-top: 2rem;
                        order: 1;
                        box-shadow: 0px 0px 14px 0px rgba(239, 112, 112, 0.75);

                        h4 {
                            @include gradient-font(var(--burn));
                        }

                        ul {

                            li {
                                
                                @include gradient-font(var(--flare));
                            }
                        }
                    }

                    &.success {
                        box-shadow: 0px 0px 14px 0px rgba(126, 239, 112, 0.75);

                        h4 {
                            @include gradient-font(var(--summer));
                        }

                        ul {

                            li {
                                @include gradient-font(var(--quepal));
                            }
                        }
                    }
                }

                .efficiency {
                    display: flex;
                    align-items: center;
                    margin-top: 3rem;
                    justify-content: flex-end;
                    width: 100%;
                    padding: 1.5rem 1rem;
                    border-top: 1px solid #8d6e63;
                    text-align: right;
                    order: 2;

                    &-title {
                        @include gradient-font($deep-sea);
                    }

                    &-value {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .btn {
            padding: 0 1.5rem;
            transition: background-color .3s linear;
        }

        .back {
            background: #fb8c00;

            &:hover {
                background: #ef6c00;
            }
        }

        .result {
            background: #64ffda;

            &:hover {
                background: #1de9b6;
            }
        }

        .restart {
            display: block;
            background: #8d6e63;

            &:hover {
                background: #795548;
            }
        }
    }
}

.hide {
    display: none;
    overflow: hidden;
    box-shadow: 0;
    height: 0;
    width: 0;
}

.low {
    @include gradient-font(var(--flare));
}

.middle {
    @include gradient-font(var(--mango));
}

.high {
    @include gradient-font($lush);
}