<div class="card-layer">
    <ul class="card-layer__list">
        <li 
            class="card-layer__list-item" 
            *ngFor = 'let i of cards;let last = last;'
            [class.last-card] = 'last'
        >
            <h6 class="card-layer__list-item-title">
                layer card
                <span class="card-layer__list-item-title-action">
                    (hover me)
                </span>
            </h6>
            <p class="card-layer__list-item-text">
                {{ cardText }}
            </p>
        </li>
    </ul>
</div>

