@import 'styles.scss';

:host {
    display: flex;
    min-height: 150px;
    box-shadow: none;
}

.card-layer {
    background: transparent;
    display: flex;
    flex-basis: 400px;
    min-width: 280px;

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(30%);

        &-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border: 3px solid;
            padding: 1rem;
            color: transparent;
            background: #fff;
            transition: left .3s ease-in-out, top .3s ease-in-out;

            @for $i from 1 through 5 {
            
                &:nth-child(#{$i}) {
                    top: 10px * $i;
                    left: -10px *$i;
                    border-color: nth($layer-card-colors, $i);
                }
            }
        }

        .last-card {
             cursor: pointer;

            .card-layer__list-item-title {
                display: flex;
                text-transform: uppercase;
                padding-bottom: .5rem;
                font-family: var(--krona);
                @include gradient-font(var(--shine));

                &-action {
                    margin-left: auto;
                    letter-spacing: 1px;
                    font-size: .7rem;
                    font-family: var(--raleway);
                    text-transform: none;
                    @include gradient-font(var(--trade));
                }
            }

            .card-layer__list-item-text {
                font-family: var(--lacquer);
                font-size: 0.8rem;
                @include gradient-font(var(--flare));
            }
        }

        &:hover > .card-layer__list-item {
            top: 0;
            left: 0;
        }
    }
}

