@import 'styles.scss';

.progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 25px;
    width: 0;
    background: var(--shine);
    transition: width .2s linear;

    .text {
        color: #fff;
        text-align: center;
        letter-spacing: 2px;
        font-family: var(--lacquer);
        @include text-shadow(#000);
    }
}