<div class="main">
    <div class="content">
        <div #blockRef class="block block_1" data-type = 'block_1'></div>
    </div>
    <div class="content">
        <div #blockRef class="block block_2" data-type = 'block_2'></div>
    </div>
    <div class="content">
        <div #blockRef class="block block_connected" data-type = 'connected'></div>
    </div>
    <div class="content">
        <div #blockRef class="block block_3" data-type = 'block_3'>
            <p class="text"> Hover Me </p>
        </div>
    </div>
    <div class="content">
        <div #blockRef class="block block_4" data-type = 'block_4'></div>
    </div>
</div>
