@import 'styles.scss';

.main {
    display: flex;
    flex-wrap: wrap;

    .content {
        display: flex;
        width: 50%;
        flex-grow: 1;
        border-radius: 8px;

        &:nth-child(3n-1) {
            justify-content: flex-end;
        }

        &:nth-child(3) {
            width: 100%;
            padding: 2rem 0;
            justify-content: center;
        }

        .block {
            display: flex;
            height: 100px;
            width: 100px;
            border-radius: 8px;
            @include box-shadow();

            .text {
                margin: auto;
                color: aliceblue;
                font-family: var(--lacquer);
                @include text-shadow(#000);
            }

            &_connected {
                background: var(--neuro);
            }
            
            &_1 {
                background: var(--coper);
            }

            &_2 {
                background: var(--raspberry);
            }

            &_3 {
                background: var(--flare);
                cursor: pointer;
            }

            &_4 {
                background: var(--shine);
            }
        }
    }
}