/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Krona+One|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter|Lacquer&display=swap');
@import '~@ctrl/ngx-emoji-mart/picker';
@import 'assets/scss/shorts.scss';
@import 'assets/scss/variables.scss';
@import 'assets/scss/mixins.scss';
@import 'assets/scss/animations.scss';
@import 'assets/scss/extends.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 1rem 0;
}

:root {

    //colors
    --coral: rgba(255, 9, 9, 0.2);
    --coral-shadow: 0px 1px 8px 7px var(--coral);

    --sea: rgba(9, 255, 114, 0.2);
    --sea-shadow: 0px 1px 8px 7px var(--sea);
    
    --blue: rgba(9, 92, 255, 0.2);
    --blue-shadow: 0px 1px 8px 7px var(--blue);

    --coper: linear-gradient(to right, rgb(183, 152, 145), rgb(148, 113, 107));
    --windy: linear-gradient(to right, rgb(172, 182, 229), rgb(134, 253, 232));
    --mango: linear-gradient(to right, rgb(255, 226, 89), rgb(255, 167, 81));
    --shine: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
    --neuro: linear-gradient(to right, rgb(249, 83, 198), rgb(185, 29, 115));
    --flare: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    --summer: linear-gradient(to right, rgb(168, 255, 120), rgb(120, 255, 214));
    --burn: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
    --raspberry: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    --august: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
    --clouds: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    --skyline: linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178));
    --quepal: linear-gradient(to right, rgb(17, 153, 142), rgb(56, 239, 125));
    --lithium: linear-gradient(to right, rgb(109, 96, 39), rgb(211, 203, 184));

    //fonts
    --raleway: 'Raleway';
    --krona: 'Krona One';
    --trade: 'Trade Winds';
    --lacquer: 'Lacquer';
    --bitter: 'Bitter';
}


.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.box-shadow {
    @include box-shadow();
}

.items-center {
    align-items: center;
}

.pt-2 {
    padding-top: 2rem;
}

.m-a {
    margin: 0 auto;
}

ul {
    list-style: none;
}

.sea {
    @include list-theme(var(--sea), var(--sea-shadow));
}

.sea-item {
    color: rgba(0, 100, 0, .7);
    @include item-theme(var(--sea));
}

.sea-title {
    color: darkgreen;
    @include text-shadow(var(--sea));
}

.blue {
    @include list-theme(var(--blue), var(--blue-shadow));
}

.blue-item {
    color: rgba(30, 144, 255, .9);
    @include item-theme(var(--blue));
}

.blue-title {
    color: dodgerblue;
    @include text-shadow(var(--blue));
}

.coral {
    @include list-theme(var(--coral), var(--coral-shadow));
}

.coral-item {
    color: rgba(220, 20, 60, .7);
    @include item-theme(var(--coral));
}

.coral-title {
    color: crimson;
    @include text-shadow(var(--coral));
}

.empty {
    font-family: var(--lacquer);
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
}
