<svg class="svg">
    <circle 
        class="circle"
        cx = '75'
        cy = '75'
        r='50'
        [attr.stroke-dasharray] = 'percent + " " + L'
        [attr.stroke] = 'strokeColor'
        [attr.stroke-width]= 'strokeWidth'
        fill = 'transparent'
    >
    </circle>
    <text
        x = '53'
        y = '82'
        [attr.fill] = 'textColor'
        [style.font-size] = 'textSize'
    >{{percentStep}}%</text>
</svg>

