<div class="main">
    <header class="header" (click) = 'toggleShowState()'>
        <h5 class="title"> {{ title }} </h5>
        <span 
            class="material-icons trigger-icon"
            [class.rotate-arrow] = 'showState === "open"'
        >keyboard_arrow_up</span>
    </header>
    <div class="separate"></div>
    <div class="list" [@toggleSize] = 'showState'>
            <div 
                *ngFor = 'let role of roles;trackBy:trackByFn'
                @scale
                class="checkbox-container"
            >
                <mat-checkbox 
                    class="checkbox"
                    [class.active] = 'role.checked'
                    [(ngModel)] = 'role.checked'
                    (ngModelChange) = 'change($event, role)'
                >
                    <span 
                        class="role-type"
                        [class.active-type] = 'role.checked'
                        [class.deactive-type] = '!role.checked'
                    >{{ role.type }}</span>
                </mat-checkbox>
                <i 
                    class="material-icons remove" 
                    matTooltip = 'Удалить роль'
                    matTooltipPosition = 'after'
                    (click) = 'remove(role)'
                >restore_from_trash</i>
            </div>

    </div>
</div>
