@import 'styles.scss';

.main {
    padding: 1rem 0;
    @include gradient-border(var(--shine));
    @include box-shadow();


    .header {
        display: flex;
        padding: 0 2.5rem;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        cursor: pointer;

        &:hover {
            .title {
                @include gradient-font(var(--flare));
            }
        }

        .title {
            @include gradient-font(var(--raspberry));
        }

        .trigger-icon {
            margin-left: 3rem;
            font-size: 2rem;
            @include gradient-font(var(--burn));
            transition: transform .3s linear;
            user-select: none;
        }

        .trigger-icon.rotate-arrow {
            @include gradient-font(var(--august));
        }
    }

    .separate {
        width: 30%;
        margin: .7rem auto;
        min-width: 50px;
        height: 3px;
        background: var(--raspberry);
    }

    .list {
        overflow: hidden;
        padding: 0 2.5rem;

        .checkbox-container {
            display: flex;
            align-items: center;
            

            .checkbox {
                transition: transform .2s linear;
                padding: 1rem 0;

                &:hover {
                    @extend .active;
                }

                .role-type {
                    margin-left: 1rem;
                    letter-spacing: 1px;
                }
            }

            .remove {
                margin-left: auto;
                cursor: pointer;
                @include gradient-font(var(--august));
    
                &:hover {
                    @include gradient-font(var(--burn));
                }
            }
        }
    }
}

.active {
    transform: scale(1.1);
}

.active-type {
    @include gradient-font(var(--shine));
}
.deactive-type {
    @include gradient-font(var(--coper));
}

// ::ng-deep .mat-checkbox-layout {
//     width: 100%;

//     .mat-checkbox-inner-container {
//         margin: 0;
//     }
// }

// ::ng-deep .mat-checkbox-label {
//     width: 100%;
//     display: flex;
//     align-items: center;
// }