@import 'styles.scss';

.main {
    padding: 3rem 0;

    header {
        text-align: center;
        font-family: var(--lacquer);

        h5 {
            @include gradient-font(var(--august));
        }
    }

    button {
        display: block;
        margin: 5rem auto 0;
        color: #fff;
        padding: 0 2rem;
        height: 3.5rem;

        i {

        }

        &:hover {
            background-color: #0091ea !important;
        }
    }


}