<div class="main">
  <header>
    <h5>Are you ready to take the test ?</h5>
  </header>
  <button
    class="btn waves-effect cyan lighten-3"
    type="button"
    (click)="start()"
  >
    Start
    <i class="material-icons right">send</i>
  </button>
</div>
