<div class="main">
    <header class="header">
        <ul class="types">
            <li 
                *ngFor = 'let item of sectionTypesList'
                class="types__item" 
                [class.active] = 'type === item.type'
                [class.disabled-pick] = 'getDisabledPick(item.type)'
                (click) = 'level(item.type)'
            >
                <span class="types__item-title" > {{ item.label }} </span>
            </li>
        </ul>
    </header>
    <div class="lists" [ngSwitch] = 'type'>
        <div class="box" *ngSwitchCase = '"year"' [ngClass] = 'getShowClass()'>
            <ng-container *ngTemplateOutlet="yearTpl"></ng-container>
        </div>
        <div class="box" *ngSwitchCase = '"month"' [ngClass] = 'getShowClass()'>
            <ng-container *ngTemplateOutlet="monthTpl"></ng-container>
        </div>
        <div class="box" *ngSwitchCase = '"date"' [ngClass] = 'getShowClass()'>
            <ng-container *ngTemplateOutlet="dateTpl"></ng-container>
        </div>
    </div>
</div>

<ng-template #toggleTpl>
    <div class="toggle">
        <i 
            class="material-icons toggle-icon"
            [class.disabled-arrow] = 'disabledChangeYear("dec")'
            (click) = 'changeYearList("dec")'
        >keyboard_arrow_left</i>
        <i 
            class="material-icons toggle-icon"
            [class.disabled-arrow] = 'disabledChangeYear("inc")'
            (click) = 'changeYearList("inc")'
        >keyboard_arrow_right</i>
    </div>
</ng-template>

<ng-template #yearTpl>
    <ng-container *ngTemplateOutlet = 'toggleTpl'></ng-container>
    <ul class="options" [@ANScaleState] = 'options'>
        <li 
            *ngFor = 'let opt of options; trackBy: trackByFn'
            class="options__item"
            [class.current-year] = 'opt.current'
            [class.disabled-item] = 'opt.disabled'
            (click) = 'opt.disabled ? null : setValue(opt)'
        >
            <span class='options__item-text' [textContent] = 'opt.value'></span>
        </li>
    </ul>
</ng-template>

<ng-template #monthTpl let-list = 'list'>
    <ul class="options">
        <li 
            *ngFor = 'let opt of options; trackBy: trackByFn'
            class="options__item"
            [class.current-year] = 'opt.current'
            [class.disabled-item] = 'opt.disabled'
            (click) = 'opt.disabled ? null : setValue(opt)'
        >
            <span class='options__item-text' [textContent] = 'opt.label'></span>
        </li>
    </ul>
</ng-template>

<ng-template #dateTpl>
    <ul class="day-titles">
        <li class="day-titles__item" *ngFor = 'let day of daysTitles' [textContent] = 'day'></li>
    </ul>
    <ng-container *ngFor = 'let week of options; trackBy: trackByFn'>
        <ul class="week">
            <li 
                *ngFor = 'let day of week; trackBy: trackByFn'
                class="week__day" 
                [class.disabled-day] = 'day.disabled'
                [class.current-day] = 'day.current'
                [textContent] = 'day.value'
                (click) = 'setDateValue(day)'
            ></li>
        </ul>

    </ng-container>
</ng-template>

