@import 'styles.scss';

:host {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: calc(100% + 2rem);
    transform: translateX(-50%);
    flex-basis: 500px;
    min-width: 300px;
    margin: 0 1rem;
    animation: picker-show .3s linear;
    @include box-shadow();
}

.main {
    position: relative;
    border-radius: 8px;
    background: var(--clouds);

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 0;
        width: 0;
        border-top: 10px solid #fff;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .header {

        .types {
            display: flex;
            width: 100%;
            

            &__item {
                display: flex;
                justify-content: center;
                cursor: pointer;
                background: var(--raspberry);
                flex-grow: 1;
                padding: 1rem 0;
                width: calc(33%);
                

                &:hover {
                    background: var(--burn);
                } 

                &-title {
                    font-weight: 700;
                    @include gradient-font(var(--clouds));
                    
                }
            }
        }
    }

    .lists {
        padding: 1rem;
        overflow-x: hidden;

        .box {
            display: flex;
            flex-direction: column;

            .toggle {
                display: flex;
                align-items: center;
                padding: .2rem 0;
                align-self: center;
            }

            .options {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
                margin: 0 auto;

                &__item {
                    margin: .5rem 10px;
                    width: calc(100% / 12 * 4 - 20px);
                    justify-content: space-between;
                    padding: 1rem 0;
                    text-align: center;
                    border-radius: 8px;
                    background: var(--mango);
                    cursor: pointer;

                    &:hover {
                        background: var(--flare);
                    }

                    &-text {
                        @include gradient-font(var(--skyline));
                    }
                }
            }

            .day-titles {
                display: flex;
                padding-bottom: .5rem;

                &__item {
                    display: flex;
                    height: 30px;
                    width: calc(100% / 7);
                    align-items: center;
                    justify-content: center;
                    @include gradient-font(var(--shine));
                    font-weight: bolder;
                }
            }

            .week {
                display: flex;

                &__day {
                    display: flex;
                    height: 30px;
                    width: calc(100% / 7);
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-weight: 700;
                    cursor: pointer;
                    margin-top: .5rem;
                    @include gradient-font(var(--skyline));
                    transition: transform .3s linear, box-shadow .3s ease-in;

                    &:hover {
                        transform: scale(1.1);
                        @include gradient-font(var(--burn));
                        @extend .box-shadow;
                    }
                }
            }
        }
    }
}

.current-year {
    background: var(--neuro) !important;

    span {
        font-weight: bold;
        @include gradient-font(var(--mango) !important);
    }
}

.disabled-item {
    background: #e5e5e5 !important;
    cursor: not-allowed !important;
}

.active {
    background: var(--mango) !important;
}

.disabled-pick {
    background: rgba(0, 0, 0, .5) !important;
    cursor: not-allowed !important;
}

.disabled-day {
    transform: none !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
    font-weight: 100 !important;
    @include gradient-font(var(--lithium) !important);
}

.current-day {
    transform: scale(1.1);
    @extend .box-shadow;
    @include gradient-font(var(--burn) !important);
}

.disabled-arrow {
    font-size: 1.5rem !important;
    @include gradient-font(var(--lithium) !important);

    &:hover {
        cursor: not-allowed;
        @include gradient-font(var(--lithium) !important);
    }

    &:active {
        box-shadow: none !important;
        transform: none;
    }
}
