<div class="main">
    <div class="trigger-box">
        <p class="value"> {{ value }}% </p>
        <div class="progress" [style.width] = 'width + "%"'></div>
        <div class="trigger"></div>
    </div>
    <div class="trigger-actions">
        <button class="trigger-btn sub" (click) = 'trigger("sub")'>Sub</button>
        <button class="trigger-btn add" (click) = 'trigger("add")'>Add</button>
    </div>
</div>

