@import 'styles.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .trigger-box {
        display: flex;
        position: relative;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        @include gradient-border(var(--raspberry), 2px);

        .value {
            position: absolute;
            z-index: 1;
            color: floralwhite;
            left: 50%;
            top: 50%;
            font-family: var(--krona);
            transform: translate(-50%, -50%);
            text-shadow: 1px 2px 0px #000;
        }

        .progress {
            background: var(--summer);
            height: 100%;
            transition: width .3s ease-in;
        }

        .trigger {
            background: var(--burn);
            flex-grow: 1;
        }
    }

    .trigger-actions {

        .trigger-btn {
            margin: 1rem .6rem;
            padding: .7rem 1.2rem;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 8px;
            transition: background .2s linear, transform .2s ease;
            font-family: var(--raleway);
    
            &:hover {
                background: var(--neuro);
                transform: scale(1.1);
            }
    
            &:active {
                transform: scale(.7);
            }
         }
    
        .add {
            background: var(--flare);
        }
    
        .sub {
            background: var(--raspberry);
        }
    }
}